.com {

}

.nft_selector {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d9d9d9;
  height: 300px;
  overflow-y: auto;
}

.image {
  border-radius: 1px;
  overflow: hidden;
  margin: 4px;
}
