.com {

}

.chain_button {
  height: 32px;
  padding: 0px 8px;
  border-radius: 1px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 0 rgba(5, 95, 255, 0.1);
  .chain_icon_wrapper {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    img {
      width: 85%;
      height: 85%;
    }
  }
}
